<div class="modal-wrapper" id="game-start-modal">
    <div class="modal">
        <div>
            <p class="modal-title">WAITING FOR PLAYERS...</p>
            <p class="modal-counter"></p>
        </div>
        <div class="modal-footer" >
            <button class="btn btn-primary" id="mainreadyBtn" style="display: none">Ready(R)</button>
            <button class="btn btn-pressed" id="mainunreadyBtn" style="display: none">Cancel(R)</button>
            <button class="btn btn-secondary" id="mainsoloBtn">Play Solo</button>
            <button class="btn btn-secondary" id="maincancelBtn" onclick="window.location.href='/'">Back to Home</button>
        </div>
    </div>
</div>

<div class="modal-wrapper" id="game-over-modal" style="display: none;">
    <div class="modal">
        <div class="modal-title">GAME OVER
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="replayBtn">Replay?</button>
            <button class="btn btn-secondary" onclick="window.location.href='/'">Back to Home</button>
        </div>
    </div>
</div>

<div class="gameContainer">
    <!--GAME GOES HERE-->
</div>

<div class="messageContainer">
    <span id="message" style="display: inline-flex; align-items: center">
    <!--        메시지-->
    </span>
    <button class="btn btn-primary" id="readyBtn" style="margin: 0px 0px 0px 10px;">Ready(R)</button>
    <button class="btn btn-pressed" id="unreadyBtn" style="display:none; margin: 0px 0px 0px 10px;">Cancel Ready(R)</button>
</div>

<!--template으로 정의하므로 import하기 전까지는 browser에 의해 접근 불가능 -->
<template id="player-template">
    <div class="player">
        <div class="arenaContainer">
            <div class="nextsave">
                next
                <canvas class="next" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
                saved
                <canvas class="saved" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
                <div class="speedbox">
                    speed
                    <div class="speed"></div>
                </div>
                <div class="timebox">
                    time
                    <div class="time"></div>
                </div>
                <div class="scorebox">
                    score
                    <div class="score">0</div>
                </div>
            </div>
            <div class="game">
                <canvas class="tetris" width="240" height="400"></canvas>
            </div>
        </div>
    </div>
</template>

<script src="/public/javascripts/client/tetris-manager.js"></script>
<script src="/public/javascripts/client/connection-manager.js"></script>
<script src="/public/javascripts/client/arena.js"></script>
<script src="/public/javascripts/client/events.js"></script>
<script src="/public/javascripts/client/player.js"></script>
<script src="/public/javascripts/client/tetris.js"></script>
<script src="/public/javascripts/client/main.js"></script>