<div class="modal-wrapper" id="game-start-modal" style="display: none;">
    <div class="modal">
        <div class="modal-title">GET READY
            <p></p>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>

<div class="modal-wrapper" id="game-over-modal" style="display: none;">
    <div class="modal">
        <div class="modal-title">GAME OVER
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" id="replayBtn">Replay?</button>
            <button class="btn btn-secondary" onclick="window.location.href='/'">Back to Home</button>
        </div>
    </div>
</div>

<!--template으로 정의하므로 import하기 전까지는 browser에 의해 접근 불가능 -->
<template id="player-template">
    <div class="player">
        <div class="container">
            <div class="nextsave">
                next
                <canvas class="next" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
                saved
                <canvas class="saved" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
                <div class="speedbox">
                    speed
                    <div class="speed"></div>
                </div>
                <div class="timebox">
                    time
                    <div class="time"></div>
                </div>
                <div class="scorebox">
                    score
                    <div class="score">0</div>
                </div>
            </div>
            <div class="game">
                <canvas class="tetris" width="240" height="400"></canvas>
            </div>
        </div>
    </div>
</template>

<script src="/public/javascripts/client/tetris-manager.js"></script>
<script src="/public/javascripts/client/connection-manager.js"></script>
<script src="/public/javascripts/client/arena.js"></script>
<script src="/public/javascripts/client/events.js"></script>
<script src="/public/javascripts/client/player.js"></script>
<script src="/public/javascripts/client/tetris.js"></script>
<script src="/public/javascripts/client/main.js"></script>