<h1>{{ title }}</h1>
<div id="score">0</div>
<div id="container">
    <div id="nextsave">
        next
        <canvas id="next" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
        saved
        <canvas id="saved" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
    </div>
    <div id="game">
        <canvas id="tetris" width="240" height="400" style="border: solid .2em #fff; height: 80vh;"></canvas>
    </div>
</div>


<script src="/tetris.js"></script>

