<div class="player">
    <div class="container">
        <div class="nextsave">
            next
            <canvas class="next" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
            saved
            <canvas class="saved" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
            <div class="speedbox">
                speed
                <div class="speed"></div>
            </div>
            <div class="timebox">
                time
                <div class="time"></div>
            </div>
            <div class="scorebox">
                score
                <div class="score">0</div>
            </div>
        </div>
        <div class="game">
            <canvas class="tetris" width="240" height="400" style="border: solid .2em #fff; height: 80vh;"></canvas>
        </div>
    </div>
</div>
<div class="player">
    <div class="container">
        <div class="nextsave">
            next
            <canvas class="next" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
            saved
            <canvas class="saved" width="80" height="80" style="border: solid .2em #fff; height: 16vh;"></canvas>
            <div class="speedbox">
                speed
                <div class="speed"></div>
            </div>
            <div class="timebox">
                time
                <div class="time"></div>
            </div>
            <div class="scorebox">
                score
                <div class="score">0</div>
            </div>
        </div>
        <div class="game">
            <canvas class="tetris" width="240" height="400" style="border: solid .2em #fff; height: 80vh;"></canvas>
        </div>
    </div>
</div>


<script src="/arena.js"></script>
<script src="/player.js"></script>
<script src="/tetris.js"></script>
<script src="/main.js"></script>