body {
  background: #202028;
    display: flex;
  color: #fff;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.player{
    flex: 1 1 auto;
}
.container {
  display: flex;
  flex-direction: row;
}
.nextsave {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.game {
   display: flex;
   flex-direction: row;
  padding: 5px;
 }

