body,html { /*height 100vh때 scroll bar 생기지않도록*/
  margin: 0;
  padding: 0;
}

body {
  background: #202028;
  display: flex;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 1300px;
}
.cardContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.messageContainer {
  display: none;
  align-self: center;
  padding: 10px 15px 10px 20px;
  margin: 10px;

  background: #3b3b48;
  border-radius: 10px;
  color: #c1c1c1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player {
  flex: 1 1 auto;
}
.player.local canvas {
  border-color: #fff;
}

canvas {
  height: 80vh;
  border: solid 0.2em #707070;
}

.arenaContainer {
  display: flex;
  flex-direction: row;
}
.nextsave {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.timebox,
.speedbox {
  border: solid 0.2em #fff;
  margin-top: 2vh;
  background-color: black;
}
.scorebox {
  background-color: black;
  border: solid 0.2em #fff;
  height: 80px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.score {
  margin: auto;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #202028;
  padding: 50px;
  border-radius: 10px;
  width: 320px;
  color: #c1c1c1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-title {
  font-family: Facon;
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.modal-error {
  font-size: 16px;
  color: red;
  margin-bottom: 10px;
}

.modal-counter {
  font-family: Facon;
  color: white;
  font-size: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 14px;
}
.btn-group {
  flex-direction: row;
  justify-content: flex-start;
}

.form-input {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  box-sizing: border-box; /*padding해도 width 100% 넘지않도록*/
  padding: 15px;
  background: #3b3b48;
  color: white;
  border-radius: 5px;

  border-top-style: hidden; /*기존 input 스타일 제거 */
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary {
  background: #7600ff;
}
.btn-secondary {
  background: #3b3b48;
  text-decoration: none;
}
.btn-pressed {
  color: #7600ff;
  background: white;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.btn:hover {
  background: white;
  color: #7600ff;
}
.btn-pressed:hover {
  background: #7600ff;
  color: white;
}

/*index.html*/

@font-face {
  font-family: Facon;
  src: url("/public/Facon.ttf");
}

.indexContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoContainer {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  font-size: 16px;
  color: #c1c1c1;
}
.italic {
  font-style: italic;
}
.paragraph {
  font-size: 20px;
  line-height: 1.5;
}
.logoContainer a {
  color: #c1c1c1;
}
.logoContainer a:hover {
  color: white;
}

.menuContainer {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
}
.menu {
  transition: 0.3s;

  border-radius: 25%;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  color: #c1c1c1;
  cursor: pointer;

  /*background: aqua;*/

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu span {
  font-size: 21px;
  font-weight: lighter;
}
#quickmatch span {
  transition: 0.3s;
  padding-top: 30px;
  font-family: Facon;
  font-size: 33px;
  color: white;
  font-weight: bold;
}
.menu:hover,
.menu:hover path,
#quickmatch:hover span {
  transition: 0.3s;
  color: #7600ff; /*text*/
  fill: #7600ff; /*svg path*/
}
.menu path {
  transition: 0.3s;
}

.footer {
  height: 50px;
  padding: 10px 30px 20px 30px;

  display: flex;
  align-items: center;
}
.footeritem {
  margin-right: 35px;
}
.footer a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  color: #c1c1c1;
}
.footer a::before {
  /*bold로 바뀔때 shifting하는거 방지: */
  /*before pseudo-element로 bold 공간 reserve*/
  /*<a> 태그의 title property 이용 */
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.footer a:hover {
  font-weight: bold;
}
.footer .selected {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.registerForm,
.mypageForm {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
  color: #c1c1c1;
}

.verticalLine {
  position: absolute;
  left: 50%;
  height: 80vh;
  width: 2px;
  background: #3b3b48;
}
