body {
  background: #202028;
  display: flex;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.player {
  flex: 1 1 auto;
}
.player.local canvas {
  border-color: #fff;
}

canvas {
  height: 80vh;
  border: solid 0.2em #707070;
}

.container {
  display: flex;
  flex-direction: row;
}
.nextsave {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.timebox,
.speedbox {
  border: solid 0.2em #fff;
  margin-top: 2vh;
  background-color: black;
}
.scorebox {
  background-color: black;
  border: solid 0.2em #fff;
  height: 80px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.score {
  margin: auto;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.modal-wrapper,
.modal-gameover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 320px;
  color: black;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal p {
  font-size: 20px;
}

/*index.html*/

@font-face { font-family: Facon; src: url('/public/Facon.ttf'); }

.indexContainer {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
}
.logoContainer {
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoContainer a,
.logoContainer span  {
  font-size: 16px;
  font-style: italic;
  color: #C1C1C1;
}
.logoContainer a:hover {
  color: white;
}

.menuContainer {
  display: flex;
  justify-content: space-evenly;
}
.menu {
  transition: 0.3s;

  border-radius: 25%;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  color: #C1C1C1;
  cursor: pointer;

  /*background: aqua;*/

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu span {
  font-size: 21px;
  font-weight: lighter;
}
#quickmatch span{
  transition: 0.3s;
  padding-top: 30px;
  font-family: Facon;
  font-size: 33px;
  color: white;
  font-weight: bold;
}
.menu:hover, .menu:hover path, #quickmatch:hover span{
  transition: 0.3s;
  /*text*/
  color: #7600FF;
  /*svg path*/
  fill: #7600FF;
}
.menu path{
  transition: 0.3s;
}

.footer {
  display: flex;
  background: aqua;
}